body {
    margin: auto;
    width: 420px;

        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;


}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    20% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 0% 50%;
    }
}

.grid {
    position: relative;
    background-image: url("../img/garden.jpg");
    background-size: 100%;
    display: flex;
    flex-wrap: wrap;
    width: 420px;
    height: 360px;
    background-color: rgb(247, 244, 239);
    border: 1px solid;

}

.grid div {
    width: 60px;
    height: 60px;
}

.player-one{

    position: absolute;
    background-image: url("../img/happy.jpg");
    background-color: lightcoral;
    background-size: 100%;
    border-radius: 30px;
}

.player-two {
    position: absolute;
    background-image: url("../img/grumpy.jpg");
    background-color: rgb(87, 225, 179);
    background-size: 100%;
    border-radius: 30px;



}